.CellAlive {
   border: 1px solid black;
   margin: 0px;
   position: absolute;
   background-color: black;
}

.CellDead {
   border: 1px solid black;
   margin: 0px;
   position: absolute;
   background-color: lightgrey;
}
